a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-style: italic;
    text-align: center;
    color: white;
}
h1 {
    font-size: 100px;
    text-align: center;
    color: white;
}
h2 {
    font-size: 45px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}
p {
    font-size: 30px;
    text-align: center;
    color: white;
    white-space: pre-wrap;
}
ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
li {
    font-size: large;
    color: white;
    margin: 0;
    padding: 0.2em;
    padding-bottom: 5px;
}
.padding{
    padding-bottom: 20px;
}
spacer {
    padding-left: 25px;
}